parameters:
	ignoreErrors:
		-
			message: '#^Class BikeShare\\App\\Security\\FormLoginAuthenticator extends @final class Symfony\\Component\\Security\\Http\\Authenticator\\FormLoginAuthenticator\.$#'
			identifier: class.extendsFinalByPhpDoc
			count: 1
			path: src/App/Security/FormLoginAuthenticator.php

		-
			message: '#^Dead catch \- Symfony\\Component\\HttpKernel\\Exception\\BadRequestHttpException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/App/Security/FormLoginAuthenticator.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/App/Security/TokenProvider.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/App/Security/UserConfirmedEmailChecker.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\PasswordAuthenticatedUserInterface\:\:getCity\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/App/Security/UserProvider.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\PasswordAuthenticatedUserInterface\:\:getEmail\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/App/Security/UserProvider.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\PasswordAuthenticatedUserInterface\:\:getNumber\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/App/Security/UserProvider.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\PasswordAuthenticatedUserInterface\:\:getPrivileges\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/App/Security/UserProvider.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\PasswordAuthenticatedUserInterface\:\:getRegistrationDate\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/App/Security/UserProvider.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\PasswordAuthenticatedUserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/App/Security/UserProvider.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\PasswordAuthenticatedUserInterface\:\:getUsername\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/App/Security/UserProvider.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\PasswordAuthenticatedUserInterface\:\:isNumberConfirmed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/App/Security/UserProvider.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/App/Security/UserProvider.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/Api/V1/Admin/BikesController.php

		-
			message: '#^Method BikeShare\\Credit\\CodeGenerator\\CodeGeneratorInterface\:\:generate\(\) invoked with 2 parameters, 3 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Controller/Api/V1/Admin/CouponsController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/Api/V1/Admin/RentalsController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/Api/V1/Admin/ReturnsController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/Api/V1/Admin/RevertsController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/Api/V1/AuthController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:isNumberConfirmed\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Controller/Api/V1/AuthController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/Api/V1/CouponsController.php

		-
			message: '#^Property BikeShare\\Controller\\Api\\V1\\CouponsController\:\:\$logger is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Controller/Api/V1/CouponsController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/Api/V1/RentalsController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/Api/V1/ReturnsController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getCity\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/Api/V1/StandsController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getNumber\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Controller/Api/V1/UsersController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 10
			path: src/Controller/Api/V1/UsersController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:isNumberConfirmed\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Controller/Api/V1/UsersController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/HomeController.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: src/Controller/LanguageController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getNumber\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Controller/PhoneConfirmController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: src/Controller/PhoneConfirmController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:isNumberConfirmed\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/PhoneConfirmController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Controller/ScanController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getEmail\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/SecurityController.php

		-
			message: '#^Dead catch \- InvalidArgumentException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/Controller/SecurityController.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getUserId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/SmsRequestController.php

		-
			message: '#^Variable \$codes might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/Credit/CodeGenerator/CodeGenerator.php

		-
			message: '#^Using nullsafe property access "\?\-\>value" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Credit/CreditSystem.php

		-
			message: '#^Method BikeShare\\Db\\PdoDbResult\:\:fetchAssoc\(\) should return array\|bool but returns null\.$#'
			identifier: return.type
			count: 1
			path: src/Db/PdoDbResult.php

		-
			message: '#^Strict comparison using \=\=\= between 0 and 0 will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: src/Db/PdoDbResult.php

		-
			message: '#^Property BikeShare\\Gbfs\\GbfsFeedBuilder\:\:\$defaultLocale is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Gbfs/GbfsFeedBuilder.php

		-
			message: '#^Strict comparison using \=\=\= between array\|true and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Repository/RefreshTokenRepository.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Repository/StatsRepository.php

		-
			message: '#^Strict comparison using \=\=\= between array\|true and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Repository/UserSettingsRepository.php

		-
			message: '#^Call to an undefined method ReflectionType\:\:getName\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/SmsCommand/CommandExecutor.php

		-
			message: '#^Constant BikeShare\\SmsConnector\\EuroSmsConnector\:\:API_HOST_TEST is unused\.$#'
			identifier: classConstant.unused
			count: 1
			path: src/SmsConnector/EuroSmsConnector.php

		-
			message: '#^PHPDoc tag @var above a method has no effect\.$#'
			identifier: varTag.misplaced
			count: 1
			path: tests/Application/BikeSharingWebTestCase.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with mixed will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Application/Controller/Api/Auth/PhoneConfirmApiTest.php

		-
			message: '#^Constant BikeShare\\Test\\Application\\Controller\\SmsRequestController\\NoteCommandTest\:\:ADMIN_PHONE_NUMBER is unused\.$#'
			identifier: classConstant.unused
			count: 1
			path: tests/Application/Controller/SmsRequestController/NoteCommandTest.php

		-
			message: '#^PHPDoc tag @var above a method has no effect\.$#'
			identifier: varTag.misplaced
			count: 1
			path: tests/Application/Controller/SmsRequestControllerTest.php

		-
			message: '#^PHPDoc tag @var above a method has no effect\.$#'
			identifier: varTag.misplaced
			count: 1
			path: tests/Integration/BikeSharingKernelTestCase.php

		-
			message: '#^Constant BikeShare\\Test\\Integration\\Security\\RoutesAccessTest\:\:ADMIN_ROUTES is unused\.$#'
			identifier: classConstant.unused
			count: 1
			path: tests/Integration/Security/RoutesAccessTest.php

		-
			message: '#^Method class@anonymous/tests/Unit/Controller/Api/V1/RentSystemResponseTraitTest\.php\:122\:\:call\(\) should return Symfony\\Component\\HttpFoundation\\JsonResponse but returns Symfony\\Component\\HttpFoundation\\Response\.$#'
			identifier: return.type
			count: 1
			path: tests/Unit/Controller/Api/V1/RentSystemResponseTraitTest.php

		-
			message: '#^Offset ''111'' does not exist on array\<string, string\|null\>\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: tests/Unit/Notifier/AdminNotifierTest.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Clock\\ClockInterface\:\:modify\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Unit/Sms/SmsSenderTest.php

		-
			message: '#^Class BikeShare\\SmsConnector\\DebugConnector constructor invoked with 4 parameters, 3 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/Unit/SmsConnector/DebugConnectorTest.php

		-
			message: '#^Constant BikeShare\\Test\\Unit\\SmsConnector\\EuroSmsConnectorTest\:\:API_HOST_TEST is unused\.$#'
			identifier: classConstant.unused
			count: 1
			path: tests/Unit/SmsConnector/EuroSmsConnectorTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\MockObject\\Stub&Psr\\Log\\LoggerInterface\:\:expects\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Unit/SmsConnector/SmsConnectorFactoryTest.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$config$#'
			identifier: parameter.notFound
			count: 1
			path: tests/Unit/SmsConnector/SmsConnectorFactoryTest.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$expectedException$#'
			identifier: parameter.notFound
			count: 1
			path: tests/Unit/SmsConnector/SmsConnectorFactoryTest.php

		-
			message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/bootstrap.php
